body
{
    background-color: slategray;
    
    /* DISPLAY */
    display: flex;
    align-items: center;
    height: 95vh;
    justify-content: center;
}

.frame
{
    width: 1000px;
    height: 90vh;
    background-color: blueviolet;
}


/* TITLE CARD */
.titlecard
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.card
{
    width: 40%;
    height: 100px;
    /* border: 3px solid black; */

    /* display */
    display: flex;
    gap: 10px;
}
.compscore, .playerscore
{
    font-size: 22px;


    width: 50%;
    display: flex;
    justify-content: center;

    border: 2px dotted black;
}


/* BODY CARD */
.bodycard
{
    background-color: aqua;
    width: 100%;
    height: 80%;
}